/* Search Container */
.search-container {
    position: relative;
}

.search-container input {
    padding: 10px 45px 10px 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

/* Add Course Button */
.add-course-btn {
    background-color: var(--primaryColor);
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    transition: all 0.3s ease;
}

.add-course-btn:hover {
    background-color: #fcd86f;
}
