/* Search */
.search-sort-row {
    padding-left: 0 !important;
}

.search-sort-row .col-12.col-lg-4 .search-container {
    margin-left: 10px !important;
}

.search-sort-row .mobile-dropdown {
    margin-left: 0.45rem !important;
}

/* space between Sort and Status */
.search-sort-row .mobile-dropdown+.mobile-dropdown {
    margin-left: 1rem !important;
}

/* Table */
.custom-table {
    width: 100%;
    background-color: var(--pureWhite) !important;
    border-top: 1px solid var(--black) !important;
    border-radius: 5px !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

.custom-table thead {
    background-color: var(--primaryColor) !important;
    color: var(--black) !important;
}

table.custom-table thead th {
    font-weight: normal !important;
}

.custom-table th,
.custom-table td {
    padding: 0.75rem 1rem !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    border-bottom: 1px solid var(--black) !important;
}

.custom-table th+th,
.custom-table td+td {
    border-left: none !important;
}

/* outer left/right borders */
.custom-table tr>*:first-child {
    border-left: 1px solid var(--black) !important;
}

.custom-table tr>*:last-child {
    border-right: 1px solid var(--black) !important;
}

/* remove hover effect */
.custom-table tbody tr:hover {
    background-color: transparent !important;
}

/* rounded header corners */
.custom-table th:first-child {
    border-top-left-radius: 5px !important;
}

.custom-table th:last-child {
    border-top-right-radius: 5px !important;
}

/* Checkbox */
.form-check-input {
    border-color: var(--black) !important;
}

.form-check-input:checked {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

/* Sort dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--pureWhite);
    border: 1px solid var(--black);
    border-radius: 25px;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropdown-btn::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 8px;
}

/* Dropdown list */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    display: none;
    z-index: 100;
    overflow: hidden;
}

/* Items */
.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

/* Register button */
.add-instructor-btn {
    background-color: var(--primaryColor) !important;
    border: 1px solid var(--black) !important;
    color: var(--black) !important;
    font-size: 16px;
    transition: all 0.2s ease-in-out !important;
    box-shadow: none !important;
}

.add-instructor-btn:hover {
    border-color: var(--black) !important;
    background-color: var(--primaryColor) !important;
    color: var(--black) !important;
}

.add-instructor-btn:focus,
.add-instructor-btn:focus-visible {
    background-color: var(--primaryColor) !important;
    border-color: var(--black) !important;
    color: var(--black) !important;
    box-shadow: none !important;
    outline: none !important;
}

.add-instructor-btn:active {
    background-color: #e6c85f !important;
    border-color: var(--black) !important;
    transform: translateY(1px);
}


.dropdown-list li:hover {
    background-color: var(--primaryColor);
}

@media (max-width: 1400px) {
    .add-instructor-btn {
        font-size: 14px;
    }
}

/* Dropdown in small screen */
@media (max-width: 991.98px) {
    .custom-dropdown .dropdown-btn {
        min-width: 90px;
        padding: 4px 12px;
        font-size: 13px;
    }

    .mobile-dropdown {
        margin-left: 0.5rem;
    }
}