/* Search Container */
.search-container {
    position: relative;
    width: 100%;
}

.search-container input {
    padding: 10px 45px 10px 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

/* Add Course Button */
.add-course-btn {
    background-color: var(--primaryColor);
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    transition: all 0.3s ease;
}

.add-course-btn:hover {
    background-color: #fcd86f;
}

/* Dynamic Text */
.dynamic-text {
    font-size: 25px;
}

/* Responsiveness */
@media screen and (max-width: 1400px) {
    .dynamic-text {
        font-size: 22px;
    }

    .search-container input {
        font-size: 14px;
    }

    .search-container button {
        font-size: 16px;
    }

    .add-course-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 1348px) {
    .dynamic-text {
        font-size: 18px !important;
    }
}


@media screen and (max-width: 991px) {
    .search-container {
        width: 80% !important;
    }

    .text-md-14 {
        font-size: 14px;
    }

    .dynamic-text {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 991px) {
    .search-container-prof {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .search-container {
        width: 75% !important;
    }
}

@media screen and (max-width: 575px) {
    .search-container {
        width: 75% !important;
    }
}

/* Small screens: <576px (mobile) */
@media (max-width: 575.98px) {
  .course-image {
    height: 250px!important;
  }
}

/* Medium screens: ≥576px and <992px (tablet) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .course-image {
    height: 150px!important;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .course-image {
    height: 150px!important;
  }
}

/* Extra Large screens (≥1200px) */
@media (min-width: 1200px) {
  .course-image {
    height: 150px!important;
  }
}

/* XXL screens (≥1400px) */
@media (min-width: 1400px) {
  .course-image {
    height: 200px!important;
  }
}

.enroll-modal-title {
    font-family: 'SemiBold', sans-serif;
    font-size: 20px;
    color: var(--black);
}

.enroll-modal-description {
    font-family: 'Medium', sans-serif;
    font-size: 14px;
    color: var(--black);
}

/* ========================= */
/* Add Course Modal Styling  */
/* ========================= */
.input-style {
    padding-left: 0 !important;
    text-align: center !important;
}

#accessCodeInput {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1em;
    text-align: center !important;
    padding: 1px 0 !important;
    height: 56px;
    display: block;
    border: 1px solid var(--black);
}

#accessCodeInput::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1em;
    text-align: center !important;
    padding-left: 25px !important;
    color: #999;
}

@media screen and (max-width: 575px) {
    #accessCodeInput {
        font-size: 14px !important;
        letter-spacing: 0.6em !important;
        height: 45px;
    }

    #accessCodeInput::placeholder {
        font-size: 14px !important;
        letter-spacing: 0.6em !important;
    }
}

@media screen and (max-width: 430px) {
    #accessCodeInput {
        font-size: 12px !important;
        letter-spacing: 0.4em !important;
        height: 40px;
    }

    #accessCodeInput::placeholder {
        font-size: 12px !important;
        letter-spacing: 0.4em !important;
    }
}