/* Sort dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--pureWhite);
    border: 1px solid var(--black);
    border-radius: 25px;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropdown-btn::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--black);
    margin-left: 8px;
}

/* Dropdown list */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    border: 1px solid var(--black);
    border-radius: 15px;
    background-color: #fff;
    display: none;
    z-index: 100;
    overflow: hidden;
    width: max-content;
    min-width: 100%;
    white-space: nowrap;
    padding: 10px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@media (max-width: 500px) {
    .mobile-dropdown {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .mobile-dropdown-course-prof {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}

/* Items */
.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    text-align: start;
}

/* Empty state */
.message-container:has(.inbox-empty-state) {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inbox-empty-state {
    margin: 0;
}

@media (max-width: 768px) {
    .message-text {
        font-size: 14px !important;
    }
}