
/* Sort dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--pureWhite);
    border: 1px solid var(--black);
    border-radius: 25px;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropdown-btn::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 8px;
}

/* Dropdown list */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    display: none;
    z-index: 100;
    overflow: hidden;
}

/* Items */
.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

@media (max-width: 768px) {
    .message-text{
        font-size: 14px !important;
    }
} 