/* Sort dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--pureWhite);
    border: 1px solid var(--black);
    border-radius: 25px;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropdown-btn::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--black);
    margin-left: 8px;
}

/* Dropdown list */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    border: 1px solid var(--black);
    border-radius: 15px;
    background-color: #fff;
    display: none;
    z-index: 100;
    overflow: hidden;
    width: max-content;
    min-width: 100%;
    white-space: nowrap;
    padding: 10px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

@media (max-width: 500px) {
    .mobile-dropdown {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}

/* Items */
.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    text-align: start;
}

/* Empty state */
.empty-state {
    min-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.empty-state img {
    max-width: 280px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%) brightness(2) contrast(0.6) opacity(0.8);
}

/* Empty state texts */
.empty-state .empty-text {
    font-family: 'SemiBold', sans-serif;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    /* ~ -3% */
    text-align: center;
    margin-bottom: 8px;
}

.empty-state .empty-subtext {
    font-family: 'Regular', sans-serif;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    /* ~ -3% */
    text-align: center;
    display: block;
}

/* Ensure centering on small screens */
@media (max-width: 575.98px) {
    .empty-state {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .empty-state img {
        max-width: 280px;
        width: 100%;
        margin-left: 13px;
    }
}

/* Dropdown responsive styles */
@media (max-width: 768px) {
    .assessment-title {
        font-size: 14px !important;
    }
}